/*banner样式*/
.banner img{
	width: 100%;
	height: 100%;
}

/*commodity样式*/
.commodity{
	padding: 20px 0 200px;
	background-color: #f6f6f6;
}
.commodity p{
	font-size: 14px;
	color: #626262;
}
.commodity .list{
	padding: 34px 0 30px;
}
.commodity .list ul{
	display: flex;
	justify-content: space-between;
}
.commodity .list ul li{
	padding: 35px 5.6%;
	text-align: center;
	background: #cac9c9;
	margin: 0 6px;
}
.commodity .list ul li p{
	font-size: 24px;
	margin-bottom: 6px;
}
.commodity .list ul li img{
	opacity: 0;
}
.commodity .list ul li:hover{
	background: #2072f9;
}
.commodity .list ul li:hover p{
	color: #fff;
}
.commodity .list ul li:hover img{
	opacity: 1;
}
.commodity .input{
	float: right;
}
.commodity .input input[type="text"]{
	width: 280px;
	height: 46px;
	float: left;
}
.commodity .input input[type="image"]{
	float: left;
}
/*camera样式*/
.camera{
	margin: 28px 0 56px;
	background-color: #fff;
}
.camera ul{
	display: flex;
}
.camera ul li{
	text-align: center;
	padding: 18px 14px 34px;
	width: 31%;
	margin: auto;
	cursor: pointer;
	border: 1px solid #dcdcdc;
}
.camera ul li p{
	font-size: 18px;
	color: #2072f9;
	line-height: 46px;
}
.camera ul li span{
	font-size: 12px;
	color: #000;
}
.number{
	display: flex;
}
.number span{
	display: block;
	margin: auto;
}
.number a{
	display: inline-block;
	padding: 18px 26px;
	font-size: 18px;
	color: #a19b9b;
}
/*.number a:nth-child(2){
	background-color: #2072f9;
	color: #fff;
}*/
.number a:hover{
	background-color: #2072f9;
	color: #fff;
}
